/* normalize css starts here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter, Arial, sans-serif;
  font-size: 1.1em;
  color: #222;
}

body {
  min-width: 400px;
  min-height: 600px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
